.result__search {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    margin: auto;
}