.card__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 0 0 18px;
}

@media screen and (max-width: 768px) {
    .card__description {
        height: 88px;
        margin: 0 0 12px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 320px) {
    .card__description {
        margin: 0 0 5px;
    }
}