.no-result__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 1.81vw;
    line-height: 2.08vw;
    text-align: center;
    color: #1A1B22;
    margin: 0 0 1.11vw;
}