.header__nav-item {
    padding-bottom: 1.81vw;
    margin: 0 2.36vw 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 1.67vw;
    cursor: pointer;
    color: #B6BCBF;
    transition: color 0.2s linear;
}

.header__nav-item:last-child {
    margin: 0;
}

.header__nav-item:hover {
    color: #000;
}

@media screen and (max-width: 768px) {
    .header__nav-item {
        padding-bottom: 18px;
    }
}

@media screen and (max-width: 320px) {
    .header__nav-item {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 16px;
    }
}