.result__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 2.78vw;
    line-height: 3.19vw;
    color: #1A1B22;
    margin: 0;
}

@media screen and (max-width: 769px) {
    .result__title {
        font-size: 3.91vw;
        line-height: 4.43vw;
    }
}

@media screen and (max-width: 320px) {
    .result__title {
        font-size: 30px;
        line-height: 34px;
        width: 100%;
        margin: 0 0 16px;
    }
}