.history__author-name {
    margin: 0 0 2px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 1.81vw;
    line-height: 2.08vw;
    color: #1A1B22;
}

@media screen and (max-width: 768px) {
    .history__author-name {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
    }
}