.result__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
    margin: 0 auto 5.56vw;
    width: 90vw;
}

@media screen and (max-width: 320px) {
    .result__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 8px;
    }
}