.history__card {
    width: 400px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    border-radius: 16px;
    padding: 24px 24px 0px;
    margin: 0 16px 48px;
}