@import url('__input/search-field__input.css');
@import url('__button/search-field__button.css');

.search-field {
    width: 608px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0 80px;
}