.card__date {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 0 0 12px;
    display: block;
}

@media screen and (max-width: 768px) {
    .card__date {
        
        
    }
}

@media screen and (max-width: 320px) {
    .card__date {
        font-size: 30px;
        line-height: 24px;
        margin: 0 0 16px;
        display: block;
    }
}