.chart__date {
    margin: 0 0 3.89vw 0;
    height: 1.67vw;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
}

.chart__date:last-child {
    margin: 0;
}