.search-field__button {
    top: 0px;
    padding: 21px 54px 21px;
    border-radius: 100px;
    background: #2F71E5;
    border: none;
    position: absolute;
    height: 100%;
    right: 0;
    color: #fff;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.search-field__button:hover {
    background: #347EFF;
}

.search-field__button:active {
    background: #2A65CC;
}