.section__title {
    margin: 0 13.33vw 1.67vw 0;
    align-self: baseline;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 2.78vw;
    line-height: 3.19vw;
}

@media screen and (max-width: 320px) {
    .section__title {
        width: 90vw;
        font-size: 30px;
        line-height: 40px;
        margin: 0 0 16px;
    }
}