.chart__labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 7.22vw;
    margin: 0 0 8px 0;
}

@media screen and (max-width: 320px) {
    .chart__labels {
        display: none;
    }
}