@import url('__logo/header__logo.css');
@import url('__nav-list/header__nav-list.css');
@import url('__nav-item/header__nav-item.css');
@import url('__nav-item/_is/header__nav-item_is-active.css');
@import url('__nav-item/_is/header__nav-item_is-black-active.css');
@import url('__nav-item/_color/header__nav-item_color-black.css');
@import url('_margened/header_margened.css');
@import url('_color/header_color-white.css');
@import url('__nav-item/_color/header__nav-item_color-white.css');
@import url('__nav-link/header__nav-link.css');
.header {
    position: relative;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 30px 101px 0 104px;
    box-shadow: inset 0px -1px 0px #D1D2D6;
}